.home {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;

  .home_text {
    margin-bottom: 15px;
  }

  .home_banner {
    height: 450px;
    display: flex;
    gap: 20px;

    .banner_left {
      flex-shrink: 0;
    }

    .banner_right {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: 450px;

      .right_top {
        height: 200px;
      }

      .right_bottom {
        flex: 1;
      }
    }
  }

  .pointer {
    --pointer-line: 30px; // 线框宽度
    --pointer-thick: 1.5px; //线宽粗细
    --pointer-gap: 8px; // 间隔
    --pointer-width: 0px; // 元素宽
    --pointer-height: 0px; // 元素高
    --pointer-color: var(--app-primary-color);
    --pointer-x: 0px; // 元素左上角横坐标
    --pointer-y: 0px; // 元素左上角纵坐标
    position: absolute;
    width: calc(var(--pointer-width) + var(--pointer-gap) * 2);
    height: calc(var(--pointer-height) + var(--pointer-gap) * 2);
    border: var(--pointer-thick) solid var(--pointer-color);
    left: calc(var(--pointer-x) - var(--pointer-gap));
    top: calc(var(--pointer-y) - var(--pointer-gap));
    transition: all 0.1s ease;
    box-sizing: border-box;
    border-radius: 8px;
    filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.06))
      drop-shadow(0 6px 14px rgba(0, 20, 40, 0.04));
    mask: conic-gradient(
        at var(--pointer-line) var(--pointer-line),
        #0000 75%,
        blue 75%
      )
      left top/calc(100% - var(--pointer-line)) calc(100% - var(--pointer-line));
    cursor: pointer;
    z-index: -1;
  }

  .home_content {
    height: auto;
    display: flex;
    margin-top: 20px;
    gap: 20px;

    .content-wrapper {
      border: 1px solid rgb(230, 230, 230);
      padding: 20px;
      border-radius: 8px;
      .content_label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 14px;
      }

      .label_text {
        gap: 10px;
        color: #999999;
        span {
          line-height: 19px;
        }
        .pre-btn,
        .next-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 19px;
          height: 19px;
          border-radius: 4px;
          background-color: #acacac3e;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            background-color: #acacac96;
          }
          &.disabled {
            background-color: rgba(225, 224, 224, 0.185);
            cursor: not-allowed;
          }
        }
      }
    }

    .content_left {
      flex: 1;
      .apps_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
      }
    }

    .content_right {
      flex: 2;
      .content-wrapper {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        box-sizing: border-box;
      }

      .webs_grid {
        flex: 1;
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        gap: 15px;
        align-content: start;
      }

      .webs_item {
        border-radius: 8px;
        box-shadow:
          0 1px 2px rgba(0, 0, 0, 0.04),
          0 2px 4px rgba(0, 0, 0, 0.04);
        transition:
          box-shadow 0.3s ease,
          transform 0.3s ease;
        &:hover {
          box-shadow:
            0 3px 6px rgba(0, 0, 0, 0.07),
            0 12px 24px rgba(0, 0, 0, 0.06);
          transform: translateY(-2px);
        }
      }
    }
  }

  .video_content {
    width: 100%;
    height: auto;
    margin-top: 20px;

    .video_label {
      width: 100%;
      height: auto;
      margin-bottom: 14px;

      .content_label {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 10px;

        .label_text {
          font-size: 14px;
          color: var(--app-text-color-dark);
          opacity: 0.4;
        }
      }
    }

    .video_list {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
      grid-auto-rows: 1fr;

      .video_item {
        width: 100%;
        height: 100%;
      }
    }
  }
}
