.video-container {
  min-height: 100vh;
  display: flex;
  gap: 40px;
}

.video-wrapper {
  width: 100%;
}

.video-info {
  width: 100%;
  padding: 20px 0 35px 0;
  gap: 20px;
  h3 {
    font-weight: 500;
    font-size: 22px;
    flex-shrink: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .meta {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #9499a0;
    font-size: 13px;
  }

  .meta-item {
    gap: 5px;
  }
}

.video-footer {
  gap: 30px;
  padding-top: 30px;
  justify-content: space-between;

  .recommend {
    flex: 1;
  }
}
