.video-container {
  min-height: 100vh;
  display: flex;
  gap: 40px;
}

.video-wrapper {
  width: 100%;
  .content {
    display: flex;
    padding: 20px 0 35px 0;
    gap: 10px;
  }
}

.video-info {
  max-width: calc(var(--app-header-width) - 300px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  h3 {
    font-weight: 500;
    font-size: 22px;
    flex-shrink: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .meta {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #9499a0;
    font-size: 13px;
  }
}

.author-info {
  margin-left: auto;

  .author-wrapper {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #ffffff93;
    border: 1px solid var(--app-primary-color);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  .avatar {
    width: 50px;
    height: 50px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  h3 {
    font-weight: 500;
    font-size: 16px;
  }

  p {
    color: #9499a0;
    font-size: 13px;
  }
}

.video-player {
  aspect-ratio: 16 / 9;
}

.video-skin {
  aspect-ratio: 16 / 9;
}

/* src/assets/custom-videojs.css */
video-skin {
  /* 主题色 */
  --media-primary-color: #ff5722;
  /* 主色调：播放按钮、进度条等 */
  --media-secondary-color: #2c3e50;
  /* 次要色：控制栏背景等 */

  /* 控制栏背景 */
  --media-controls-background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
  --media-controls-background: transparent;

  --media-controls-height: 20px;
  --media-border-radius: 8px;
}
