.app-detail {
}

.app-info {
  align-items: center;
  justify-content: center;
  gap: 120px;
  margin: 120px 0;
}

.app-icon {
  width: 250px;
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .glow-bg {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    filter: blur(12px);
    z-index: 1;
  }

  .icon {
    position: relative;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    user-select: none;
  }

  .ripple-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 45%;
    pointer-events: none;
    will-change: transform, opacity;
    opacity: 0;
  }

  img {
    width: 75px;
    height: 75px;
    border-radius: 8px;
    object-fit: cover;
    position: relative;
    filter: drop-shadow(0 0 7px rgba(251, 82, 82, 0.3));
    z-index: 10;
    cursor: pointer;
  }
}

.info-content {
  h2 {
    font-size: 40px;
    margin-bottom: 17px;
    letter-spacing: 3px;
    font-weight: 600;
    color: #424242;
  }

  p {
    letter-spacing: 3px;
    font-size: 26px;
    margin-bottom: 29px;
    color: #424242;
  }

  .download {
    display: flex;
    gap: 21px;
    align-items: center;
  }

  button {
    padding: 8px 20px;
    font-size: 16px;
    border: none;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }

  a {
    font-size: 16px;
    color: #7a7373;
  }
}

.app-swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    font-size: 25px;
    padding: 42px;
    font-weight: 300;
  }
}

.app-pictorial {
  margin-top: 42px;

  .pictorial-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;
    margin-top: 108px;
    font-family: 'ZCOOL XiaoWei', sans-serif;

    h2 {
      font-size: 27px;
      font-weight: 300;
    }

    p {
      font-size: 17px;
      color: #7a7373;
    }

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 17px;
    }
  }
}

.svg-path {
  position: relative;
  .svg-wrapper {
    font-size: 24px;
    font-family: 'ZCOOL XiaoWei', sans-serif;
  }
  .svg-label-1,
  .svg-label-2 {
    position: absolute;
    p {
      max-width: 350px;
    }
  }
}

.intro-card {
  border-radius: 20px;
  padding: 20px 50px;
  position: absolute;
  background-color: #ffffff38;
  transform: translate(0, 0);
  .name {
    font-size: 56px;
    font-weight: 600;
    color: #ffffff;
    white-space: nowrap;
  }
}

.scroll-tip {
  position: absolute;
  bottom: 30px;
  color: #ffffff5d;
  
  .line{
    gap: 5px;
    align-items: center;
    justify-content: center;
  }

  :deep(.ao-icon){
    background-color: transparent;
  }

  span {
    width: 5px;
    height: 5px;
    background-color: #ffffff5d;
    border-radius: 50%;
  }

  .tip-text{
    margin-top: 10px;
  }
}

.intro-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 20px;
  padding: 20px 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  transform: translateX(120%);
  background-color: #ffffff38;
  .btn-item {
    cursor: pointer;
    transition: all 0.3s ease-out;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.app-intro-md {
  width: 60%;
  height: 100%;
  overflow-y: auto;
}

:deep(.md-editor) {
  height: 100%;
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffff4b;
  backdrop-filter: blur(10px);
}

.next-app {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  position: relative;

  .icon {
    flex-direction: column;
    gap: 5px;
  }

  button {
    border-radius: 50%;
    background: none;
    border: none;
    cursor: pointer;
  }

  svg {
    width: 32px;
    height: 32px;
  }

  p {
    color: #999999;
    font-size: 12px;
  }
}

.intro-wrapper {
  padding: 20px 0;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--app-header-height) - 40px);
}

.video-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10001;
  pointer-events: auto;
}

.video-modal-container {
  width: 50%;
  .video-wrapper {
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
  }
}
